openapi: 3.2.0
info:
  title: NewsBlur Feeds API
  description: NewsBlur is a personal news reader (RSS/Atom aggregator) that brings people together to talk about the world.
  version: '2026.07'
  contact:
    name: NewsBlur
    url: https://www.newsblur.com/api
    email: samuel@newsblur.com
  license:
    name: MIT
    url: https://github.com/samuelclay/NewsBlur/blob/master/LICENSE
  x-source: https://www.newsblur.com/api
servers:
- url: https://www.newsblur.com
  description: Production
security:
- cookieAuth: []
- oauth2Bearer: []
tags:
- name: Feeds
  description: Feed subscription, search and metadata.
paths:
  /rss_feeds/search_feed:
    get:
      operationId: searchFeed
      tags:
      - Feeds
      summary: Find a feed by its address
      parameters:
      - name: address
        in: query
        schema:
          type: string
        required: true
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /rss_feeds/feed_autocomplete:
    get:
      operationId: feedAutocomplete
      tags:
      - Feeds
      summary: Search feeds by term
      parameters:
      - name: term
        in: query
        schema:
          type: string
        required: true
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/feeds:
    get:
      operationId: getFeeds
      tags:
      - Feeds
      summary: List the user's subscriptions with unread counts
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /reader/favicons:
    get:
      operationId: getFavicons
      tags:
      - Feeds
      summary: Retrieve feed favicons
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/refresh_feeds:
    get:
      operationId: refreshFeeds
      tags:
      - Feeds
      summary: Get current unread counts
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/page/{id}:
    get:
      operationId: getFeedPage
      tags:
      - Feeds
      summary: Original page from a feed
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
  /rss_feeds/statistics/{id}:
    get:
      operationId: getFeedStatistics
      tags:
      - Feeds
      summary: Feed statistics and history
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            type: object
    Unauthorized:
      description: Authentication required or invalid credentials.
      content:
        application/json:
          schema:
            type: object
    Ok:
      description: Success. NewsBlur returns a JSON object; most responses include a `result` field ("ok" or "error").
      content:
        application/json:
          schema:
            type: object
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: newsblur_sessionid
      description: Session cookie set by POST /api/login.
    oauth2Bearer:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token passed as a Bearer token in the Authorization header. Client credentials are issued by NewsBlur (contact samuel@newsblur.com).
