openapi: 3.2.0
info:
  title: NewsBlur Authentication API
  description: NewsBlur is a personal news reader (RSS/Atom aggregator) that brings people together to talk about the world.
  version: '2026.07'
  contact:
    name: NewsBlur
    url: https://www.newsblur.com/api
    email: samuel@newsblur.com
  license:
    name: MIT
    url: https://github.com/samuelclay/NewsBlur/blob/master/LICENSE
  x-source: https://www.newsblur.com/api
servers:
- url: https://www.newsblur.com
  description: Production
security:
- cookieAuth: []
- oauth2Bearer: []
tags:
- name: Authentication
  description: Login, logout and signup.
paths:
  /api/login:
    post:
      operationId: login
      tags:
      - Authentication
      summary: Authenticate an existing user
      description: Log in with username and password; sets the newsblur_sessionid cookie.
      security: []
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/logout:
    post:
      operationId: logout
      tags:
      - Authentication
      summary: End the current session
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /api/signup:
    post:
      operationId: signup
      tags:
      - Authentication
      summary: Register a new account
      security: []
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            type: object
    Unauthorized:
      description: Authentication required or invalid credentials.
      content:
        application/json:
          schema:
            type: object
    Ok:
      description: Success. NewsBlur returns a JSON object; most responses include a `result` field ("ok" or "error").
      content:
        application/json:
          schema:
            type: object
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: newsblur_sessionid
      description: Session cookie set by POST /api/login.
    oauth2Bearer:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token passed as a Bearer token in the Authorization header. Client credentials are issued by NewsBlur (contact samuel@newsblur.com).
