openapi: 3.2.0
info:
  title: NewsBlur Classifiers API
  description: NewsBlur is a personal news reader (RSS/Atom aggregator) that brings people together to talk about the world.
  version: '2026.07'
  contact:
    name: NewsBlur
    url: https://www.newsblur.com/api
    email: samuel@newsblur.com
  license:
    name: MIT
    url: https://github.com/samuelclay/NewsBlur/blob/master/LICENSE
  x-source: https://www.newsblur.com/api
servers:
- url: https://www.newsblur.com
  description: Production
security:
- cookieAuth: []
- oauth2Bearer: []
tags:
- name: Classifiers
  description: Intelligence training classifiers.
paths:
  /reader/feeds_trainer:
    get:
      operationId: getFeedsTrainer
      tags:
      - Classifiers
      summary: Get intelligence classifiers for all feeds
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /classifier/{id}:
    get:
      operationId: getClassifiers
      tags:
      - Classifiers
      summary: The user's classifiers for a feed
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /classifier/save:
    post:
      operationId: saveClassifier
      tags:
      - Classifiers
      summary: Update training preferences (classifiers)
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /social/feed_trainer:
    get:
      operationId: getSocialFeedTrainer
      tags:
      - Classifiers
      summary: Blurblog intelligence classifiers
      responses:
        '200':
          $ref: '#/components/responses/Ok'
components:
  responses:
    Ok:
      description: Success. NewsBlur returns a JSON object; most responses include a `result` field ("ok" or "error").
      content:
        application/json:
          schema:
            type: object
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: newsblur_sessionid
      description: Session cookie set by POST /api/login.
    oauth2Bearer:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token passed as a Bearer token in the Authorization header. Client credentials are issued by NewsBlur (contact samuel@newsblur.com).
