openapi: 3.2.0
info:
  title: NewsBlur Feed Management API
  description: NewsBlur is a personal news reader (RSS/Atom aggregator) that brings people together to talk about the world.
  version: '2026.07'
  contact:
    name: NewsBlur
    url: https://www.newsblur.com/api
    email: samuel@newsblur.com
  license:
    name: MIT
    url: https://github.com/samuelclay/NewsBlur/blob/master/LICENSE
  x-source: https://www.newsblur.com/api
servers:
- url: https://www.newsblur.com
  description: Production
security:
- cookieAuth: []
- oauth2Bearer: []
tags:
- name: feed-management
  description: Subscriptions, folders and organization.
paths:
  /reader/add_url:
    post:
      operationId: addUrl
      tags:
      - feed-management
      summary: Subscribe to a feed or website URL
      responses:
        '200':
          $ref: '#/components/responses/Ok'
        '400':
          $ref: '#/components/responses/BadRequest'
  /reader/add_folder:
    post:
      operationId: addFolder
      tags:
      - feed-management
      summary: Create a folder
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/move_feed_to_folder:
    post:
      operationId: moveFeedToFolder
      tags:
      - feed-management
      summary: Move a feed to a folder
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/move_folder_to_folder:
    post:
      operationId: moveFolderToFolder
      tags:
      - feed-management
      summary: Move a folder into another folder
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/rename_feed:
    post:
      operationId: renameFeed
      tags:
      - feed-management
      summary: Rename a feed
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/rename_folder:
    post:
      operationId: renameFolder
      tags:
      - feed-management
      summary: Rename a folder
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/delete_feed:
    post:
      operationId: deleteFeed
      tags:
      - feed-management
      summary: Unsubscribe from a feed
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/delete_folder:
    post:
      operationId: deleteFolder
      tags:
      - feed-management
      summary: Delete a folder and unsubscribe its feeds
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/save_feed_order:
    post:
      operationId: saveFeedOrder
      tags:
      - feed-management
      summary: Reorder feeds and folders
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/save_search:
    post:
      operationId: saveSearch
      tags:
      - feed-management
      summary: Create a saved-search shortcut
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /reader/delete_search:
    post:
      operationId: deleteSearch
      tags:
      - feed-management
      summary: Remove a saved-search shortcut
      responses:
        '200':
          $ref: '#/components/responses/Ok'
components:
  responses:
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema:
            type: object
    Ok:
      description: Success. NewsBlur returns a JSON object; most responses include a `result` field ("ok" or "error").
      content:
        application/json:
          schema:
            type: object
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: newsblur_sessionid
      description: Session cookie set by POST /api/login.
    oauth2Bearer:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token passed as a Bearer token in the Authorization header. Client credentials are issued by NewsBlur (contact samuel@newsblur.com).
