openapi: 3.2.0
info:
  title: NewsBlur Import Export API
  description: NewsBlur is a personal news reader (RSS/Atom aggregator) that brings people together to talk about the world.
  version: '2026.07'
  contact:
    name: NewsBlur
    url: https://www.newsblur.com/api
    email: samuel@newsblur.com
  license:
    name: MIT
    url: https://github.com/samuelclay/NewsBlur/blob/master/LICENSE
  x-source: https://www.newsblur.com/api
servers:
- url: https://www.newsblur.com
  description: Production
security:
- cookieAuth: []
- oauth2Bearer: []
tags:
- name: Import Export
  description: OPML import and export.
paths:
  /import/opml_export:
    get:
      operationId: opmlExport
      tags:
      - Import Export
      summary: Download subscriptions as an OPML backup
      responses:
        '200':
          $ref: '#/components/responses/Ok'
  /import/opml_upload:
    post:
      operationId: opmlUpload
      tags:
      - Import Export
      summary: Upload an OPML file to import subscriptions
      responses:
        '200':
          $ref: '#/components/responses/Ok'
components:
  responses:
    Ok:
      description: Success. NewsBlur returns a JSON object; most responses include a `result` field ("ok" or "error").
      content:
        application/json:
          schema:
            type: object
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: newsblur_sessionid
      description: Session cookie set by POST /api/login.
    oauth2Bearer:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token passed as a Bearer token in the Authorization header. Client credentials are issued by NewsBlur (contact samuel@newsblur.com).
