openapi: 3.1.0
info:
  title: NewsBlur API
  description: >-
    NewsBlur is a personal news reader (RSS/Atom aggregator) that brings people
    together to talk about the world. The HTTP API exposes account, feed, story,
    social ("blurblog"), intelligence-classifier, and OPML import/export
    operations. This OpenAPI description was generated by API Evangelist from the
    publicly documented endpoint reference at https://www.newsblur.com/api and
    the open-source NewsBlur codebase (github.com/samuelclay/NewsBlur). It is a
    faithful structuring of the documented surface, not a provider-published spec.
  version: '2026.07'
  contact:
    name: NewsBlur
    url: https://www.newsblur.com/api
    email: samuel@newsblur.com
  license:
    name: MIT
    url: https://github.com/samuelclay/NewsBlur/blob/master/LICENSE
  x-source: https://www.newsblur.com/api
servers:
  - url: https://www.newsblur.com
    description: Production
security:
  - cookieAuth: []
  - oauth2Bearer: []
tags:
  - name: authentication
    description: Login, logout and signup.
  - name: feeds
    description: Feed subscription, search and metadata.
  - name: stories
    description: Reading, marking and starring stories.
  - name: social
    description: Blurblogs, sharing, following and comments.
  - name: feed-management
    description: Subscriptions, folders and organization.
  - name: classifiers
    description: Intelligence training classifiers.
  - name: import-export
    description: OPML import and export.
paths:
  /api/login:
    post:
      operationId: login
      tags: [authentication]
      summary: Authenticate an existing user
      description: Log in with username and password; sets the newsblur_sessionid cookie.
      security: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /api/logout:
    post:
      operationId: logout
      tags: [authentication]
      summary: End the current session
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /api/signup:
    post:
      operationId: signup
      tags: [authentication]
      summary: Register a new account
      security: []
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /rss_feeds/search_feed:
    get:
      operationId: searchFeed
      tags: [feeds]
      summary: Find a feed by its address
      parameters:
        - { name: address, in: query, schema: { type: string }, required: true }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /rss_feeds/feed_autocomplete:
    get:
      operationId: feedAutocomplete
      tags: [feeds]
      summary: Search feeds by term
      parameters:
        - { name: term, in: query, schema: { type: string }, required: true }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/feeds:
    get:
      operationId: getFeeds
      tags: [feeds]
      summary: List the user's subscriptions with unread counts
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /reader/favicons:
    get:
      operationId: getFavicons
      tags: [feeds]
      summary: Retrieve feed favicons
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/refresh_feeds:
    get:
      operationId: refreshFeeds
      tags: [feeds]
      summary: Get current unread counts
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/feeds_trainer:
    get:
      operationId: getFeedsTrainer
      tags: [classifiers]
      summary: Get intelligence classifiers for all feeds
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/page/{id}:
    get:
      operationId: getFeedPage
      tags: [feeds]
      summary: Original page from a feed
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '404': { $ref: '#/components/responses/NotFound' }
  /rss_feeds/statistics/{id}:
    get:
      operationId: getFeedStatistics
      tags: [feeds]
      summary: Feed statistics and history
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '404': { $ref: '#/components/responses/NotFound' }
  /reader/feed/{id}:
    get:
      operationId: getFeedStories
      tags: [stories]
      summary: Stories from a single feed
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
        - { name: page, in: query, schema: { type: integer } }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '404': { $ref: '#/components/responses/NotFound' }
  /reader/river_stories:
    get:
      operationId: getRiverStories
      tags: [stories]
      summary: Stories across multiple feeds (the "river")
      parameters:
        - { name: feeds, in: query, schema: { type: array, items: { type: integer } } }
        - { name: page, in: query, schema: { type: integer } }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/starred_stories:
    get:
      operationId: getStarredStories
      tags: [stories]
      summary: The user's saved (starred) stories
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/starred_story_hashes:
    get:
      operationId: getStarredStoryHashes
      tags: [stories]
      summary: Identifiers of saved stories
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/unread_story_hashes:
    get:
      operationId: getUnreadStoryHashes
      tags: [stories]
      summary: Identifiers of unread stories
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/read_stories:
    get:
      operationId: getReadStories
      tags: [stories]
      summary: Previously read stories
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /rss_feeds/original_text:
    get:
      operationId: getOriginalText
      tags: [stories]
      summary: Extracted original story text
      parameters:
        - { name: story_hash, in: query, schema: { type: string }, required: true }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /rss_feeds/original_story:
    get:
      operationId: getOriginalStory
      tags: [stories]
      summary: Original website content for a story
      parameters:
        - { name: story_hash, in: query, schema: { type: string }, required: true }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/mark_story_hashes_as_read:
    post:
      operationId: markStoryHashesAsRead
      tags: [stories]
      summary: Mark multiple stories as read
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/mark_story_hash_as_unread:
    post:
      operationId: markStoryHashAsUnread
      tags: [stories]
      summary: Mark a story as unread
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/mark_story_hash_as_starred:
    post:
      operationId: markStoryHashAsStarred
      tags: [stories]
      summary: Save (star) a story
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/mark_story_hash_as_unstarred:
    post:
      operationId: markStoryHashAsUnstarred
      tags: [stories]
      summary: Unsave (unstar) a story
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/mark_feed_as_read:
    post:
      operationId: markFeedAsRead
      tags: [stories]
      summary: Mark an entire feed as read
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/mark_all_as_read:
    post:
      operationId: markAllAsRead
      tags: [stories]
      summary: Mark everything as read
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/add_url:
    post:
      operationId: addUrl
      tags: [feed-management]
      summary: Subscribe to a feed or website URL
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /reader/add_folder:
    post:
      operationId: addFolder
      tags: [feed-management]
      summary: Create a folder
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/move_feed_to_folder:
    post:
      operationId: moveFeedToFolder
      tags: [feed-management]
      summary: Move a feed to a folder
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/move_folder_to_folder:
    post:
      operationId: moveFolderToFolder
      tags: [feed-management]
      summary: Move a folder into another folder
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/rename_feed:
    post:
      operationId: renameFeed
      tags: [feed-management]
      summary: Rename a feed
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/rename_folder:
    post:
      operationId: renameFolder
      tags: [feed-management]
      summary: Rename a folder
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/delete_feed:
    post:
      operationId: deleteFeed
      tags: [feed-management]
      summary: Unsubscribe from a feed
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/delete_folder:
    post:
      operationId: deleteFolder
      tags: [feed-management]
      summary: Delete a folder and unsubscribe its feeds
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/save_feed_order:
    post:
      operationId: saveFeedOrder
      tags: [feed-management]
      summary: Reorder feeds and folders
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/save_search:
    post:
      operationId: saveSearch
      tags: [feed-management]
      summary: Create a saved-search shortcut
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /reader/delete_search:
    post:
      operationId: deleteSearch
      tags: [feed-management]
      summary: Remove a saved-search shortcut
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /classifier/{id}:
    get:
      operationId: getClassifiers
      tags: [classifiers]
      summary: The user's classifiers for a feed
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /classifier/save:
    post:
      operationId: saveClassifier
      tags: [classifiers]
      summary: Update training preferences (classifiers)
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/river_stories:
    get:
      operationId: getSocialRiverStories
      tags: [social]
      summary: Stories from followed users
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/share_story:
    post:
      operationId: shareStory
      tags: [social]
      summary: Share a story with optional comment
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/unshare_story:
    post:
      operationId: unshareStory
      tags: [social]
      summary: Remove a shared story
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/load_user_friends:
    get:
      operationId: loadUserFriends
      tags: [social]
      summary: Followers and following profiles
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/profile:
    get:
      operationId: getSocialProfile
      tags: [social]
      summary: A user's public profile
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/load_user_profile:
    get:
      operationId: loadUserProfile
      tags: [social]
      summary: The current user's private profile details
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/save_user_profile:
    post:
      operationId: saveUserProfile
      tags: [social]
      summary: Update profile information
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/interactions:
    get:
      operationId: getInteractions
      tags: [social]
      summary: User interactions
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/activities:
    get:
      operationId: getActivities
      tags: [social]
      summary: User activity feed
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/follow:
    post:
      operationId: followUser
      tags: [social]
      summary: Follow a user's blurblog
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/unfollow:
    post:
      operationId: unfollowUser
      tags: [social]
      summary: Unfollow a user
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/mute_user:
    post:
      operationId: muteUser
      tags: [social]
      summary: Mute a user's content
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/unmute_user:
    post:
      operationId: unmuteUser
      tags: [social]
      summary: Restore a muted user's visibility
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/feed_trainer:
    get:
      operationId: getSocialFeedTrainer
      tags: [classifiers]
      summary: Blurblog intelligence classifiers
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/public_comments:
    get:
      operationId: getPublicComments
      tags: [social]
      summary: Public comments on a story
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/save_comment_reply:
    post:
      operationId: saveCommentReply
      tags: [social]
      summary: Add a reply to a comment
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/remove_comment_reply:
    post:
      operationId: removeCommentReply
      tags: [social]
      summary: Delete a comment reply
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/like_comment:
    post:
      operationId: likeComment
      tags: [social]
      summary: Favorite a comment
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/remove_like_comment:
    post:
      operationId: removeLikeComment
      tags: [social]
      summary: Unfavorite a comment
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /social/find_friends:
    get:
      operationId: findFriends
      tags: [social]
      summary: Search for users
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /import/opml_export:
    get:
      operationId: opmlExport
      tags: [import-export]
      summary: Download subscriptions as an OPML backup
      responses:
        '200': { $ref: '#/components/responses/Ok' }
  /import/opml_upload:
    post:
      operationId: opmlUpload
      tags: [import-export]
      summary: Upload an OPML file to import subscriptions
      responses:
        '200': { $ref: '#/components/responses/Ok' }
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: newsblur_sessionid
      description: Session cookie set by POST /api/login.
    oauth2Bearer:
      type: http
      scheme: bearer
      description: >-
        OAuth 2.0 access token passed as a Bearer token in the Authorization
        header. Client credentials are issued by NewsBlur (contact
        samuel@newsblur.com).
  responses:
    Ok:
      description: Success. NewsBlur returns a JSON object; most responses include a `result` field ("ok" or "error").
      content:
        application/json:
          schema: { type: object }
    BadRequest:
      description: Invalid request.
      content:
        application/json:
          schema: { type: object }
    Unauthorized:
      description: Authentication required or invalid credentials.
      content:
        application/json:
          schema: { type: object }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { type: object }
